# Node modules
node_modules/

# Build directory
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Miscellaneous
.DS_Store
*.pem

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity

# Parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/

# Expo
.expo/
.expo-shared/

# Storybook files
out/

# SvelteKit build / generate output
.svelte-kit

.env
.envDev
.envProd
*.prettierrc
*.prettierrc.json


